@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

body {
	color: #333;
	margin: 0;
	background: rgb(255, 127, 0);
}

#burgerWrap {
	text-align: center;
}

.burgerPic {
	height: 200px;
	width: 200px;
}

#title{
	font-size: 80px;
	font-style: italic;
	background-color: red;
	animation: color-change 4s infinite;
	border-style: double;
	border-radius: 40px;
	border-width: 10px;
	border-color: yellow;
	width: 100%;
}

@-webkit-keyframes color-change {
    0% { color: black;}
    50% { color: yellow; }
    100% { color: black; }
}

span {
	font-size: 1.2em;
	background: darkorange;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	margin-left: 5px;
}

button {
	display: inline;
}

.devour-burger-form {
	display: inline;
}

#burgers-container {
	display: flex;
	
}

#burgers-available {
	padding: 20px;
	background: yellow;
	margin: 20px;
	border-radius: 15px;
}

#burgers-devoured {
	border-radius: 15px;
	background: #333;
	padding: 20px;
	margin: 20px
}

#burgers-devoured h2, #burgers-devoured div {
	color: #ddd;
	font-size: medium;
}

h2 {
	font-size: x-large;
	text-align: center;
	text-decoration: underline;
}

.wrapper {
	max-width: 67%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	color:  #ddd;
	text-decoration: underline;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 40px;
	border-radius: 15px;
}

.burger {
	line-height: 2;
	font-size: medium;
	
}

.eat-btn {
	margin-right: 0.7em;
	padding: 5px;
	font-size: medium;	
	border-radius: 10px;
}

#submit-btn {
	padding: 0.57em 1em 0.57em 1em;
	font-size: 2em;
	background-color: red;
	font-style: italic;
	border: none;
	margin-left: -5px;
	border-style: solid;
	border-radius: 20px;
	border-width: 3px;
	border-color: yellow;
}

#burger-name {
	padding: 0.5em 1em 0.5em 1em;
	font-style: italic;
	font-size: 2em;
	border-style: solid;
	border-radius: 20px;
	border-width: 3px;
	border-color: yellow;
}

#devour-burger-form {
	font-size: large;
}