@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

body {
	color: #333;
	margin: 0;
	background: rgb(255, 127, 0);
}

#burgerWrap {
	text-align: center;
}

.burgerPic {
	height: 200px;
	width: 200px;
}

#title{
	font-size: 80px;
	font-style: italic;
	background-color: red;
	animation: color-change 4s infinite;
	border-style: double;
	border-radius: 40px;
	border-width: 10px;
	border-color: yellow;
	width: 100%;
}

@-webkit-keyframes color-change {
    0% { color: black;}
    50% { color: yellow; }
    100% { color: black; }
}


header {
	background: #333;
	margin: 0;
	height: 60px;
	display: flex;
	align-items: center;
}

/* h1 {
	margin: 0 0 0 100px;
	color: #fff;
	font-size: 30px;
} */

span {
	font-size: 0.85em;
	background: #B31B1B;
	color: white;
	padding: 3px 5px 3px 5px;
	border-radius: 4px;
	margin-left: 5px;
}

button {
	display: inline;
}

.devour-burger-form {
	display: inline;
}

#burgers-container {
	display: flex;
}

#burgers-available {

	padding: 20px;
	background: yellow;
	margin: 20px;
}

#burgers-devoured {

	background: #333;
	padding: 20px;
	margin: 20px
}

#burgers-devoured h2, #burgers-devoured div {
	color: #ddd;
}

.wrapper {
	max-width: 67%;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

#create-burger {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 40px;
}

.burger {
	line-height: 2;
}

.eat-btn {
	margin-right: 0.7em;
	padding: 5px;
}

#submit-btn {
	padding: 0.57em 1em 0.57em 1em;
	font-size: 1.5em;
	background: #38eeff;
	border: none;
	margin-left: -5px;
}

#burger-name {
	padding: 0.5em 1em 0.5em 1em;
	font-size: 1.5em;
}

